@page "{restaurantId:int}"

@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Restaurant.Name</h2>
<div>
    ID: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>

@if (!String.IsNullOrEmpty(Model.Message) && !String.IsNullOrWhiteSpace(Model.Message))
{
<div class="alert alert-info">
    <span >@Model.Message</span>
</div>
}

<a asp-page="./List" class="btn btn-default">All Restaurants</a>